/* ensure that special characters are handled correctly   */
@charset "UTF-8";


/* base styles */
HTML {
  background-color: #363e46;
  color: #120d50;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

/* Navigation bar styles */
nav {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: bolder;
  color: slategrey;
  position: sticky;
  top: 0;
  margin: -1.8rem;
  padding: 0.5rem;
  background-color: #363e46;
  z-index: 900;
}

nav::before {
content: "😳\00a0";
}

nav::after {
content: "ដើម្បី​បំបែក​យ៉ាង​ក្លាហាន...";
text-wrap: nowrap;
font-weight: bold;
position: relative;
margin-left: 0.5rem;
top: 0.2rem;
}
nav a {
padding-left: 0.5rem;
padding-right: 0.5rem;
color: #120d50;
background-color: #778899dd;
}


body {
  background-color: lightslategrey;
  padding: 1.8rem;
  max-width: 800px;
  margin: auto;
}

/* Headings  */
h1, h2 {
  margin-top: 3rem;
}
h3 {
  margin-top: 2rem;  
}

.pagetitle {
  font-size: 2rem;
  margin-top: 5rem;
  font-weight: bold;
  text-align: left;
  margin-left: 0.5rem;
  margin-bottom: 0rem;
}
.pagetitle-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: first baseline;
  column-gap: 0.5rem;
  row-gap: 0rem;
}

a {
  color: inherit;
  background-color: #ffffff22;
  transition: background-color 0.5s ease;
  border-radius: 0.4rem;
  text-decoration: none;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

a:hover, .magicbox:hover, hr:hover {
  background-color: #ba6aff77;
  transition: background-color 0.5s ease;
}

hr {
  background-color: #ffffff22;
  border: none;
  max-width: 90%;
  height: 0.1rem;
}
hr:hover {
  background-color: #ba6aff77;
  transition: background-color 0.5s ease;
}

/* comment box */
.comment {
  font-style: italic;
  color: #324643;
  width: fit-content;
  /* margin-left: 1.5rem; */
  border-left: 0.1rem solid #ddddddaa; 
  padding: 0.25rem;
  background-color: #337e7866;
  font-size: 0.75rem;
}

code {
  display: inline-block;
  background-color: #00000055;
  color: #ada984;
  width: fit-content;
  margin-left: 1rem;
  font-family: 'Roboto Mono', monospace, sans-serif;
  padding: 0.3rem;
}

.bordered-panel {
    background-color: #00000009;
    border-radius: 0.3rem;
    border: 0.1rem solid #00000055;
    padding: 0.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
  }
  

  /* Subpagelinks stuff */
  .subpage-links a {
    display: flex;
    margin: 0.4rem;
    gap: 0.4rem;
    padding-left: 1rem;
    padding: 0.2rem;
    text-decoration: none;
    position: relative;   
  }

  .subpage-links a::before {
    content: "•\00a0\00a0";
    font-weight: bolder;
    position: relative;
    left: 0.5rem;
  }