/* ensure that special characters are handled correctly   */
@charset "UTF-8";


/* base styles */
body {
    background-color: lightslategrey;
    color: #120d50;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.4;
    padding: 1.5rem;
    font-size: 1rem;
    max-width: 700px;
    margin: auto;
}

a {
  color: inherit;
  background-color: #ffffff22;
  transition: background-color 0.5s ease;
  border-radius: 0.4rem;
  text-decoration: none;
}

a:hover, .box:hover {
  background-color: #ba6aff77;
  transition: background-color 0.5s ease;
}

.comment {
  font-style: italic;
  color: #324643;
  width: fit-content;
  margin-left: 1.5rem;
  border-left: 0.1rem solid #dddddaa; 
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  background-color: #337e7866;
  font-size: 0.6rem;
}

code {
  background-color: #00000055;
  color: #a3a3a3;
  margin-left: 1rem;
  font-family: sans-serif;
  padding: 0.3rem;
}

/* All the top of page stuff */
.homelinkthing {
    font-size: 1.3rem;
    display: block;
    transition: background-color 0.5s ease;
    margin-left: -0.8rem;
    margin-top: -0.8rem;
  }

  .homelinkthing a {
    text-decoration: none;
  }

.pageheading {
    margin-bottom: 1rem;
  }

  .pagetitle {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
    margin-left: 1.2rem;
  }

  .pagesubtitle {
    font-weight:bold;
    font-style: oblique;
    margin-left: 0.2rem;
  }

  .pagesummary{
    background-color: #00000009;
    border-radius: 0.3rem;
    border: 0.1rem solid #00000055;
    padding: 0.4rem;
  }
  

  /* Subpagelinks stuff */
  .subpage-list {
    display: block;
  }

  .subpage-list-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0rem;
  }

  .subpage-links a {
    display: block;
    /* width: fit-content; */
    max-width: 38rem;
    margin: 0.4rem;
    padding-left: 1.2rem;
    text-decoration: none;
    position: relative;   
  }

  .subpage-links a::before {
    content: "•";
    position: absolute;
    left: 0.5rem;
    top: -0.2rem;
    font-size: 1.4rem;
  }

  /* magic squares */
  .responsive-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content:center;
    margin: 0rem;
  }

  .box {
    background-color: #ffffff22;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }